<h1><%= @name %></h1>
<p>Weight: <%= @weight %></p>
<p>Height: <%= @height %></p>
<h2><%= @ship1_name %></h2>
<p>Type: <%= @ship1_type %></p>
<p>Booty: <%= @ship1_booty %></p>
<h2><%= @ship2_name %></h2>
<p>Type: <%= @ship2_type %></p>
<p>Booty: <%= @ship2_booty %></p>
